.form__wrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  &__group {
    position: relative;
    margin-bottom: 30px;
  }
  &__input {
    font-size: 16px;
    padding: 10px 0px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
    &:focus {
      outline: none;
    }
  }

  & label {
    color: #999;
    font-size: 16px;
    position: absolute;
    pointer-events: none;

    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  &__input:focus ~ label,
  &__input:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: #5264ae;
  }

  &__bar {
    position: relative;
    display: block;
    width: 320px;

    &::before,
    &::after {
      content: "";
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: #5264ae;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }

    &::before {
      left: 50%;
    }
    &::after {
      right: 50%;
    }
  }
  &__input:focus ~ &__bar:before,
  &__input:focus ~ &__bar:after {
    width: 50%;
  }

  &__button{
    width: 100%;
    padding: 20px;
    background: #5264ae;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
  }
}
