.post {
  width: 90%;
  background-color: white;
  margin: 20px auto;
  padding: 20px;

  &__title {
    font-size: 18px;
    font-weight: 600;
  }
  &__content {
    font-size: 15px;
    margin-top: 20px;
  }
  &__tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__tag {
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    padding: 10px 15px;
    margin: 10px 0px;
    &:first-child {
      margin-left: 0;
    }
  }
}
