@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");

.nav {
  background-color: #303b44;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  position: sticky;
  top: 0;
  z-index: 900;

  .logo {
    color: white;
    font-family: "DM Sans", sans-serif;
  }

  .user {
    display: flex;
    align-items: center;
    color: white;
    &__avatar {
      margin-left: 10px;
      cursor: pointer;
      padding: 1px;
      background-color: white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}
.modal__wrap {
  display: none;
  &.open {
    display: block;
  }
}
@media (max-width: 700px) {
  .modal__wrap {
    position: fixed;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: none;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 40px 0;
    background-color: rgb(34, 34, 34);
    &.open {
      display: block;
    }
  }
}
