@import "../../../utils/index.scss";
.container {
  max-width: 1200px;
  margin: 130px auto 0px;
}

.home {
  display: flex;

  justify-content: space-between;

  &__content {
    max-width: 500px;
  }
  &__img {
    max-width: 500px;
    width: 100%;
  }
  &__title {
    color: black;
    font-weight: bold;
    font-size: 56px;
  }
  &__subtitle {
    font-family: "Montserrat Alternates", sans-serif;
    max-width: 500px;
    margin-top: 30px;
    color: black;
    font-weight: 500;
    font-size: 25px;
  }
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 280px;
  .card {
    color: black;
    padding: 25px;
    border-radius: 35px;
    background-color: white;
    filter: drop-shadow(4px 6px 15px rgba(0, 0, 0, 0.25));
    transition: all 0.4s;
    &__title {
      display: flex;
      justify-content: space-between;
      &_text {
        font-weight: bolder;
      }
    }
    &__img {
      padding: 15px;
      font-size: 25px;
    }
    &:hover {
      cursor: pointer;
      transform: translate3d(0px, -40px, -20px);
    }
  }
}
