@import '../../../../utils/index.scss';
.answer{
    margin-top: 30px;
    &__title{
        font-weight: 700;
        font-size: 22px;
    }
    &__field{
        margin-top: 30px;
        width: 100%;
        resize: none;
        height: 200px;
        outline: none;
        font-size: 18px;
    }
    &__button{
        margin-top: 40px;
        cursor: pointer;
        padding: 20px 30px; 
        outline: none;
        border: none;
        color: white;
        font-size: 18px;
        background-color: $buttons;
        border-radius: 10px;
    }
}