@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Lato:wght@900&family=Montserrat+Alternates:wght@300;400;500;600&family=Montserrat:wght@300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin-top: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .container {
    padding: 0 20px;
  }
}

a {
  text-decoration: none;
}

#toast-container {
  z-index: 901;
  position: fixed;
  top: 0px !important;
  right: 0;
}
.toast {
  background-color: gray;
  padding: 25px 20px;
  color: white;
  margin: 20px;
  top: 0px !important;
}

.toast.error {
  background-color: rgb(155, 30, 30);
}
.toast.succes {
  background-color: green;
}


.ck-content{
  min-height: 300px;
}

