@import "../../../utils/index.scss";

.question {
  padding: 15px;
  background-color: white;
  margin-top: 30px;
  color: $text;
  border-bottom: 2px solid rgb(233, 233, 233);
  &__title {
    color: black;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s;
    &:hover {
      color: blue;
    }
  }

  &__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    color: black;
  }

  &__tag {
    margin-top: 10px;
    padding: 3px 0 5px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: rgb(176, 191, 243);
    padding: 10px;
    cursor: pointer;
  }
  &__footer {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;

  }
  &__time {
    margin-top: 10px;
    width: 20%;
  }
}
